certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
pyaes==1.6.1
pymediainfo-pyrofork==6.0.2
pyrofork==2.3.69
Pyrogram==2.0.106
pyromod==3.1.6
PySocks==1.7.1
requests==2.32.5
TgCrypto==1.2.5
urllib3==2.6.2
fastapi==0.95.2
flask
uvicorn[standard]==0.22.0

